<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AT_modemTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AT_modemTest.Properties.Settings>
            <setting name="Portname" serializeAs="String">
                <value>COM10</value>
            </setting>
            <setting name="Baudrate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Databits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Stopbits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>None</value>
            </setting>
        </AT_modemTest.Properties.Settings>
    </userSettings>
</configuration>